.table-monthly
{
	border-collapse;
	 border: 1px solid #888;
	 width:100%;
}

.th-monthly
{
	border: 1px solid #888;
	margin:0;
	padding:0;
	min-width:6em;
	width:14%;
}

.td-monthly
{
	border: 1px solid #888;
	margin:0;
	height:5em;
	padding:0;
	vertical-align:top;
}

.td-monthly-not-in-month
{
	background-color:#ccc;
}
.monthly-today
{
	background-color:#cee;
}
.monthly-day
{
	background-color:#eee;
}
.monthly-slot
{
	cursor: pointer;
}
.monthly-slot:hover
{
	background-color:#80C0FF;
}

.monthly-slot-dayoff
{
	cursor: pointer;
	background-color:#c0c0c0;
}
.monthly-slot-dayoff:hover
{
	cursor: pointer;
	background-color:#80C0FF;
}


