html
{
	font-size:16px;
}

.popup-title
{
	font-size:1.2em;
	font-weight:500;
}

.select-block
{
	 font-style: italic;
}

.modal-md
{
	max-width:48em;
}

.modal-sm
{
	max-width:32em;
}

.time-line
{
	position:relative;
}

fieldset {
  border:1px solid #ccc;
  margin:0 0 1em 0;
  padding:0.5em 1em 0.0em 1em;
  
}
legend 
{
  color: black;
  font-size:110%;
  position: relative;
  width: auto;
  margin:0;
  padding: 0 0.5em 0 0.5em;
  }
legend:before {
  position: absolute;
  content: '';
}
legend:after {
  position: absolute;
  content: '';
}
.slot-hour
{
	background-color: #fff;	
	border-bottom: 1px solid #000;
  	height:25px;
}

.slot-not-hour
{
	background-color: #fff;	
  	border-bottom: 1px solid #ddd;
  	height:25px;
}
.slot-select:hover
{
	background-color:#A0E0FF;
}


.slot-select
{
	z-index:1;
	top:0;
	display:block;
	text-align: left;
	margin:0.0em;
	padding:0;
	text-overflow:ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.slot-select2
{
	position:absolute;
	z-index:1;
	top:0;
	display:block;
	text-align: left;
	margin:0.0em;
	padding:0;
	text-overflow:ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.btn:focus, .btn:active {
  outline: none !important;
  box-shadow: none !important;
}

.slot-item
{
	position:absolute;
	color:black;
	text-decoration: none;	
  	overflow:hidden;  
	text-overflow:ellipsis;
	white-space: nowrap;
}
.slot-item:hover
{
	color:black;
	text-decoration: none;	
}
.slot-item:focus
{
	outline: none !important;
  	box-shadow: none !important;
}


.appointment-select
{
	z-index:11;
	left:0;
	right:0;
	margin:0;
	padding:0;
	text-align: left;
  	border-bottom-style: solid;
  	border-top-style: solid;
  	border-width: 0.0625em;
	border-top-color: #696;	
	border-bottom-color: #464;	
}

.appointment-new
{
	background-color: #ffd;	
}

.appointment-confirmed
{
	background-color: #dfd;	
}

.appointment-check-in
{
	background-color: #dfd;	
}

.appointment-check-out
{
	background-color: #fdd;	
}

.appointment-check-paid
{
	background-color: #ada;	
}

.appointment-select:hover
{
	background-color:#A0E0FF;
}



.slot-hour-unbookable
{
  	border-bottom: 0.0625em solid #444;
	background-color: #ccc;
}

.slot-not-hour-unbookable
{
  	border-bottom: 0.0625em solid #bbb;
	background-color: #ccc;
}

.role-bookable
{
	position:absolute;
	top:0;
	z-index:10;
	left:0;
	right:0;
	margin:0;
	padding:0;
	background-color: #fff;	
}


.slot-not-work
{
	background-color: #f4f4f4;
}

.slot-day-off-hour
{
  	border-bottom-style: solid;
  	border-width: 1px;
	border-color: #606060;	
	background-color: #808080;
  	height:25px;
}

.slot-role
{
	position:absolute;
	top:0;
	z-index:10;
	left:0;
	right:0;
	margin:0;
	padding:0;
  	border-top: 0.02px solid #BBB;  
  	border-bottom: 0.02px solid #BBB;  
}

.slot-block
{
	position:absolute;
	top:0;
	z-index:10;
	left:0;
	right:0;
	margin:0;
	padding:0;
  	border-top: 0.02px solid #BBB;  
  	border-bottom: 0.02px solid #BBB;  
}


.slot-hour-block
{
  	border-bottom-style: solid;
  	border-width: 1px;
  	height:25px;
	border-color: #555;	
	overflow: hidden;
	white-space: nowrap;
	background-color: #808080;
}

.slot-not-hour-block
{
  	border-bottom-style: solid;
  	border-width: 1px;
  	height:25px;
	border-color: #777;	
	overflow: hidden;
	white-space: nowrap;
	background-color: #808080;
}

.slot-hour-scheduled
{
  	border-bottom-style: solid;
  	border-width: 1px;
  	height:25px;
	border-color: #555;	
	text-overflow:ellipsis;
	overflow: hidden;
	white-space: nowrap;
	background-color: #b0d0f0;
}

.slot-not-hour-scheduled
{
  	border-bottom-style: solid;
  	border-width: 1px;
  	height:25px;
	border-color: #777;	
	text-overflow:ellipsis;
	overflow: hidden;
	white-space: nowrap;
	background-color: #b0d0f0;
}

.ladder-time
{
	position:absolute;
	top:0;
	z-index:12;
	left:0;
	right: 0;
	margin:0;
	padding:0;
  	border: 0;  
  	pointer-events: none;
	background-color: rgba(255, 255, 100, 0.5);
	
}

.button-close
{
	height:25px;
}

.main-table-item
{
	overflow-x:auto;
	padding-bottom:20%;
	margin-bottom:-20%;
}

.main-table
{
	overflow-x:auto;
	overflow-y:visible;
}

.slot-day-off
{
	position:absolute;
	top:0;
	z-index:10;
	left:0;
	right:0;
	padding-left:4em;
	margin:0;
	color:white;
	background-color: rgba(100, 100, 100, 0.75);
  	border-style: solid;
  	border-width: 1px;
  	border-color: #BBB;	
}

.main-bar
{
	background-color:#f6f6f6;
	color:black;
}

.time-entry
{
	background-color: rgba(255, 255, 100, 0.5);
  	border-style: solid;
  	border-width: 1px;
  	border-color: #BBB;	
}

.width-sm
{
	max-width: 50em;
}

.width-md
{
	max-width: 100em;
}

.width-lg
{
	max-width: 150em;
}

.side-panel
{
	width: 12em;
}

.location-button
{
	width:12em;
	max-width:20em;
}

.icon-button
{
	width:2em;
}

.urgent-button
{
	color:white;
	font-weight:bold;
	width:12em;
	animation: colorchange 2s infinite; /* animation-name followed by duration in seconds*/
       /* you could also use milliseconds (ms) or something like 2.5s */
    -webkit-animation: colorchange 2s infinite; /* Chrome and Safari */
}
.urgent-toggler
{
	color:white;
	animation: colorchange 2s infinite; /* animation-name followed by duration in seconds*/
       /* you could also use milliseconds (ms) or something like 2.5s */
    -webkit-animation: colorchange 2s infinite; /* Chrome and Safari */
}

 @keyframes colorchange
 {
   0%   {background: #611;}
   90%  {background: #f22;}
   100%   {background: #611;}
 }

 @-webkit-keyframes colorchange /* Safari and Chrome - necessary duplicate */
 {
   0%   {background: #611;}
   90%  {background: #f22;}
   100%   {background: #611;}
 }

.table-calendar
{
	border-collapse;
	
}

.tr-calendar
{
	padding:0;
	margin:0;
}

.td-calendar
{
	padding:0 4px 0 4px;
	margin:0;
	text-align:center;
	cursor: pointer;
}
.td-calendar:hover
{
	background-color:#B0B0B0;
}

.td-calendar-selected
{
	background-color:#80C0FF;
}
.td-calendar-selected:hover
{
	background-color:#80C0FF;
}

.td-calendar-outOfMonthDays
{
	background-color:#E0E0E0;
	color:#000;
}

.td-outOfMonthDays:hover
{
	background-color:#C0C0C0;
}


.td-ui
{
	width:5em;
}

.td-status
{
	width:0.1em;
}

.td-left
{
	text-align:left;
}
.td-center
{
	text-align:center;
}
.td-right
{
	text-align:right;
}

.search-result:hover
{
	background-color:#e0e0e0;
}
.search-result-focus
{
	background-color:#80C0FF;
}

.menu-button
{
}

.menu-toggler
{
	max-width:2em;
}

