HttpServer.public.https=false
HttpServer.public.http=true
HttpServer.operator.port=10000
HttpServer.public.https.port=10004
HttpServer.public.serverCertificate.keyStorePath=.\resources\server.jks

Application.enableBrotliEncoding=true

Application.database.server=
{
	"user":"dev",
	"passwordKey":"Database.password",
	"mySql":
	{
		"schema":"server"
	}
}

Application.database.content=
{
	"user":"dev",
	"passwordKey":"Database.password",
	"mySql":
	{
		"schema":"mira_content"
	}
}
Application.database.user=
{
	"user":"dev",
	"passwordKey":"Database.password",
	"mySql":
	{
		"schema":"user"
	}
}

$Google.map.APIKey=AIzaSyDNdLQqcKiGnnQFR5ptL_d39ihT0NpzRjE
$Google.map.APIKey=AIzaSyBRZFvWtR9Mqf46NjxFWNpHC_MDQg8XuxI
$Google.map.APIKey=AIzaSyDfv_AZjM5ImRyUAM5UHmqsl97DolPm4_M

AWS.AccessKey=AKIAVAWORNMCXTHTHKO2


%local.cnf