Application.Proxy.httpConfiguration=
{
	"proxyEndPoint":"localhost",
	"hostPort":10003,
	"outsideListenPort":8080
}

Application.Proxy.httpsConfiguration=
{
	"proxyEndPoint":"localhost",
	"hostPort":10004,
	"outsideListenPort":1443
}
