KeyStore.public.serverCertificate.password=password1

Database.password=password
Business.key=aidlfaek#$AB134akjl3alk893al;kjaalk;a;;8,kaan;

AWS.SMS.SecretAccessKey=P0Dfu/F/amZ/FwAPVrx53tHEIuhq800PJRqXU+rD

//FMBVF-GWNW8-PW67Y-783VG-6F4BY